body{
    box-sizing: border-box;
    margin:0 0 0 55px;
    background-color: var(--color-tema);       /* Body*/
    font-family: calibri;
    padding-left:0;
    height: 150vh;
    color:#fff
    
}

:root{   /*Seccion de variables*/
    --color-tema:#1a1e23;        /* variable Color gris / tema*/
    --color-rosa:#ff0077;           /* variableColor rosa*/     
}

/*Para colocar estos colores se colocara: var(--color-rosa);       */

/*-----------------------Barra Lateral-------------------------------------------------------------------------------------------------*/

nav.menu-lateral{
    width: 50px;
    height: 100%;
    background-color:#1a1e23 ;    
    padding: 40px 0 40px 4px;
    position: fixed;
    top:0;
    left:0;
    overflow:hidden;
    transition: .5s;
    z-index: 1;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
    padding: 50px 0 50px 50px;
}

ul li.item-menu{
    transition: .2s;
}

ul li.activo{
    background-color: var(--color-rosa);
}

ul li.item-menu:hover{
    background-color:var(--color-rosa);
}

ul li.item-menu a{
    color:#fff;
    text-decoration:none;
    font-size: 16px;
    padding: 20px 4%;
    display: flex;
    margin-bottom:20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: 1s;
}

ul li.item-menu a .icon > i{
    font-size: 20px;
}

/*-------------------------HEADER-----------------------------------------------------------------------------------------------------*/
.logo{
    width: 130px;
}
.header-container {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:var(--color-tema);
    color:#fff;
    height: 20vh;
}

.title-container{
    display: flex;
    background-image:url(imagenmoda2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0% 20%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 7px var(--color-rosa);
}
.title-one{
    margin:0;
    padding:30px;
    font-size: 60px;
    font-family: arial black;
    font-weight: 900;
    color:#e2d2d2;
    text-shadow: 5px 5px 7px #690836;
    background-color:#ffffff10;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 20px;
    position: relative;
    z-index: 0;
}


.title-two{
    display: inline block;
    text-align:center;
    color:#fff;
    font-size: 60px;
    text-shadow: 1px 1px 7px #fff;
    padding-bottom: 30px;

}

.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px,300px));
    grid-template-rows: 442px;
    grid-gap:100px
}

.grid-item{
    border: none;
    object-fit: cover;
    border-radius: 40px;
    transition-property: all;
    transition-duration:1s ;
}

.title-vender{
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 7px #fff;
    color:#fff;
    font-size: 40px;
}

.title-comprar{
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 7px #fff;
    color:#fff;
    font-size: 40px;
}

.title-nolose{
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 7px #fff;
    color:#fff;
    font-size: 40px;
}

.grid-item:hover{
    transform: scale(1.2);
}

.image-one{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    
}

.image-two{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    
}

.image-three{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

/*-------------------Inicio Responsive-------------------------------------*/

@media only screen and (max-width:590px){
    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(250px,250px));
        grid-template-rows: 400px;
    }

    .grid-item:hover{
        transform: scale(1.1,1.1);
    }

    .title-one{
        font-size: 50px;
        padding: 5px;
        text-align: center;
    }
}






/*-------------------VENTAS--------------------------------------------------------------------------------------------------*/
